.container {
    display: flex;
    justify-content: space-between;
}

.virat-kohli-session img {
    width: 150px;
    float: left;
    margin-right: 1rem;
}

.virat-kohli-session p {
    width: 300px;
}

.steve-smith-session img {
    width: 150px;
    float: left;
    margin-right: 1rem;
}

.steve-smith-session p {
    width: 300px;
}

.kane-willimson-session img {
    width: 150px;
    float: left;
    margin-right: 1rem;
}

.kane-willimson-session p {
    width: 300px;
}