.container {
    display: flex;
    justify-content: space-between;
}

.virat-kohli-session img {
    width: 150px;
    float: left;
    margin-right: 1rem;
}

.virat-kohli-session p {
    width: 300px;
}

.steve-smith-session img {
    width: 150px;
    float: left;
    margin-right: 1rem;
}

.steve-smith-session p {
    width: 300px;
}

.kane-willimson-session img {
    width: 150px;
    float: left;
    margin-right: 1rem;
}

.kane-willimson-session p {
    width: 300px;
}

@media (max-width: 1065px) {
    .container {
        display: block;
    }

    .virat-kohli-session p {
        margin-bottom: 3rem;
    }

    .steve-smith-session p {
        margin-bottom: 3rem;
    }

    .kane-willimson-session p {
        margin-bottom: 3rem;
    }
}